<div class="jumbotron">
  <div class="container">
  <div class="col-md-6 offset-md-3">
     <h2>Employee list</h2>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>S.No</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList.employeeList; let i = index; ">
      <td>{{i+1}}</td>
     <td>{{data.firstName}}</td>
     <td>{{data.lastName}}</td>
     <td>{{data.gender}}</td>
     <td>{{data.dob}}</td>
     <td>{{data.department}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>