<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Employee register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                    <div class="col-12 float-left" [ngClass]="{'mat-form-field-invalid':submitted && f.gender.errors}"> 
                    <mat-radio-group aria-label="Select an gender" formControlName="gender"  >
                       <mat-radio-button value="Male" >Male</mat-radio-button>
                       <mat-radio-button  class ="mr-left" value="Female" >Female</mat-radio-button>
                     </mat-radio-group>
                    </div>
                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                            <div *ngIf="f.gender.errors.required">Gender is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date of birth</label>
                        
                         <input type="text" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" placeholder="Date of birth" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true ,dateInputFormat: 'YYYY-MM-DD' }">
                        <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                            <div *ngIf="f.dob.errors.required">Date of birth is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        
                         <input type="text" formControlName="department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" placeholder="Department" class="form-control" >
                        <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                            <div *ngIf="f.department.errors.required">Department is required</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button [disabled]="loading" class="btn btn-success">Register</button>
                        <button   routerLink="/tableList" class="btn btn-warning mr-left">Employee list</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>